extends layout

block head
  link(rel='stylesheet' href='https://unpkg.com/leaflet@1.6.0/dist/leaflet.css')
  script(src='https://unpkg.com/leaflet@1.6.0/dist/leaflet.js')
block content
  main.col-md-9.ml-sm-auto.col-lg-10.px-md-4(role='main')
    .d-flex.justify-content-between.flex-wrap.flex-md-nowrap.align-items-center.pt-3.pb-2.mb-3.border-bottom
      h1.h2= title
      p Curso NodeJs, Express
    #main_map
block footer
  script(src='js/map.js')
