doctype html
html(lang="en")
  head
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
    meta(name='description' content='Ejemplo template bootstrap a pug')
    meta(name='author' content='Andrew Estrada')
    title= title
    // Favicons
    link(rel='apple-touch-icon' href='/img/apple-touch-icon.png' sizes='180x180')
    link(rel='icon' href='/img/favicon-32x32.png' sizes='32x32' type='image/png')
    link(rel='icon' href='/img/favicon-16x16.png' sizes='16x16' type='image/png')
    link(rel='mask-icon' href='/img/safari-pinned-tab.svg' color='#563d7c')
    link(rel='icon' href='/img/favicon.ico')
    meta(name='theme-color' content='#563d7c')
    style.
      .bd-placeholder-img {
      font-size: 1.125rem;
      text-anchor: middle;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
      }
      @media (min-width: 768px) {
      .bd-placeholder-img-lg {
      font-size: 3.5rem;
      }
      }
    // Custom styles for this template
    link(href='/css/dashboard.css' rel='stylesheet')
    block head
  body
    nav.navbar.navbar-dark.sticky-top.bg-dark.flex-md-nowrap.p-0.shadow
      a.navbar-brand.col-md-3.col-lg-2.mr-0.px-3(href='/') Bicicletas
      button.navbar-toggler.position-absolute.d-md-none.collapsed(type='button' data-toggle='collapse' data-target='#sidebarMenu' aria-controls='sidebarMenu' aria-expanded='false' aria-label='Toggle navigation')
        span.navbar-toggler-icon
      input.form-control.form-control-dark.w-100(type='text' placeholder='Buscar' aria-label='Search')
      ul.navbar-nav.px-3
        li.nav-item.text-nowrap
          a.nav-link(href='/logout') Salir
    .container-fluid
      .row
        nav#sidebarMenu.col-md-3.col-lg-2.d-md-block.bg-light.sidebar.collapse
          .sidebar-sticky.pt-3
            ul.nav.flex-column
              li.nav-item
                a.nav-link(href='/')
                  span(data-feather='home')
                  |               Dashboard 
                  span.sr-only (current)
              li.nav-item
                a.nav-link(href='/bicicletas')
                  span(data-feather='file')
                  |               Listado de bicicletas

              li.nav-item
                a.nav-link(href='/usuarios')
                  span(data-feather='users')
                  |               Usuarios

        block content
    script(src='https://cdnjs.cloudflare.com/ajax/libs/feather-icons/4.9.0/feather.min.js')
    script(src="/dist/bundle.js")
    script(src='/js/dashboard.js')
    script.
      /** add active class and stay opened when selected */
      var url = window.location;
      $("ul.nav a")
      .filter(function () {
      return this.href == url;
      })
      .addClass("active");
    block footer