extends ../layout

block content
  main.col-md-9.ml-sm-auto.col-lg-10.px-md-4(role='main')
      .d-flex.justify-content-between.flex-wrap.flex-md-nowrap.align-items-center.pt-3.pb-2.mb-3.border-bottom
        h1.h2= title
        p Curso NodeJs, Express
      form(action="/usuarios/create", method="post")
        .form-group
          label(for='nombre') Nombres
          input#nombre.form-control(type='text' name='nombre'  value=usuario.nombre class=errors.nombre ? 'is-invalid' : '' required='required')
          if errors.nombre
            small#nombreHelp.text-danger
               = errors.nombre.message
        .form-group
          label(for='email') Email
          input#email.form-control(type='text' name='email'  value=usuario.email class=errors.email ? 'is-invalid' : '' required='required')
          if errors.email
            small#emailHelp.text-danger
               = errors.email.message
        .form-group
          label(for='pwd') Password:
          input#pwd.form-control(type='password' name='password' class= errors.password ? 'is-invalid' : '')
          if errors.password
            small#passwordHelp.text-danger
               = errors.password.message
        .form-group
          label(for='confirm_pwd') Confirmar Password:
          input#confirm_pwd.form-control(type='password' name='confirm_password' class= errors.confirm_password ? 'is-invalid' : '')
          if errors.confirm_password
            small#confirm_passwordHelp.text-danger
              = errors.confirm_password.message
          |
        button.btn.btn-primary.float-right(type="submit") Crear