extends ../layout

block content
  main.col-md-9.ml-sm-auto.col-lg-10.px-md-4(role='main')
      .d-flex.justify-content-between.flex-wrap.flex-md-nowrap.align-items-center.pt-3.pb-2.mb-3.border-bottom
        h1.h2= title
        p Curso NodeJs, Express
      .row
        .col
        a.btn.btn-primary.float-right.my-3(href="/usuarios/create") Crear
      table.table
        thead
            tr
              th(scope='col') #
              th(scope='col') Nombres
              th(scope='col') Email
              th(scope='col') Verificado
              th(scope='col') Opciones
        tbody
          each usuario in usuarios
            tr
              td(scope='row')= usuario.id
              td= usuario.nombre
              td= usuario.email
              td= usuario.verificado ? 'SI' : 'NO'
              td
                .btn-group(role="group")
                  a.btn.btn-sm.btn-primary.mr-1(href=`usuarios/${usuario.id}/update`, role="button")
                    span(data-feather='edit')
                    |                 Editar
                  form.inline(action=`usuarios/${usuario.id}/delete`, method="post")
                    button.btn.btn-sm.btn-danger(type="submit") 
                      span(data-feather='trash') 
                      |               Eliminar