extends ../layout

block content
  main.col-md-9.ml-sm-auto.col-lg-10.px-md-4(role='main')
      .d-flex.justify-content-between.flex-wrap.flex-md-nowrap.align-items-center.pt-3.pb-2.mb-3.border-bottom
        h1.h2= title
        p Curso NodeJs, Express
      form(action=`/usuarios/${usuario.id}/update`, method="post")
        .form-group
          label(for='id') ID
          input#id.form-control(type='text' name='id' required='required' value=usuario.id disabled)
          |
        .form-group
          label(for='nombre') Nombres
          input#nombre.form-control(type='text' name='nombre'  value=usuario.nombre class=errors.nombre ? 'is-invalid' : '' required='required')
          if errors.nombre
            small#nombreHelp.text-danger
               = errors.nombre.message
        button.btn.btn-primary.float-right(type="submit") Actualizar