doctype html
html(lang="en")
  head
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
    meta(name='description' content='Ejemplo template bootstrap a pug')
    meta(name='author' content='Andrew Estrada')
    title= title
    // Favicons
    link(rel='apple-touch-icon' href='/img/apple-touch-icon.png' sizes='180x180')
    link(rel='icon' href='/img/favicon-32x32.png' sizes='32x32' type='image/png')
    link(rel='icon' href='/img/favicon-16x16.png' sizes='16x16' type='image/png')
    link(rel='mask-icon' href='/img/safari-pinned-tab.svg' color='#563d7c')
    link(rel='icon' href='/img/favicon.ico')
    meta(name='theme-color' content='#563d7c')
    link(rel='stylesheet', href='../../css/login.css')
body#LoginForm
  .container
    .login-form
      .main-div
        .panel
          if info && info.message 
            div.alert.alert-danger
              = info.message
          h2 Admin Login
          p Por favor, ingrese su email and password
        form#Login(action='/login' method='post')
          .form-group
            input#username.form-control(type='email' placeholder='Email Address' name="username")
          .form-group
            input#password.form-control(type='password' placeholder='Password' name="password")
          .forgot
            a(href='/forgotPassword') Olvidé mi password
          button.btn.btn-primary(type='submit') Login
          .form-group
            a(href='auth/facebook') Login con Facebook
            br
            a(href='auth/google') Login con Google
  script(src="/dist/bundle.js")
