extends ../layout

block content
  main.col-md-9.ml-sm-auto.col-lg-10.px-md-4(role='main')
      .d-flex.justify-content-between.flex-wrap.flex-md-nowrap.align-items-center.pt-3.pb-2.mb-3.border-bottom
        h1.h2= title
        p Curso NodeJs, Express
      form(action="/bicicletas/create", method="post")
        .form-group
          label(for='code') Código
          input#code.form-control(type='text' name='code' value=bicicleta.code required='required' class= errors.code ? 'is-invalid' : '')
          if errors.code
            small#codeHelp.text-danger
               = errors.code.message
        .form-group
          label(for='color') Color
          select#color.form-control(name="color" value=bicicleta.color required='required' class= errors.color ? 'is-invalid' : '')
            option(value="") Seleccione un Color
            option(value="Blanco") Blanco
            option(value="Negro") Negro
            option(value="Azul") Azul
            option(value="Rojo") Rojo
            option(value="Verde") Verde
          if errors.color
            small#colorHelp.text-danger
               = errors.color.message
        .form-group
          label(for='modelo') Modelo
          select#modelo.form-control(name="modelo" value=bicicleta.modelo required='required' class= errors.modelo ? 'is-invalid' : '')
            option(value="") Seleccione un Modelo
            option(value="Montaña") Montaña
            option(value="Ruta") Ruta
            option(value="Urbana") Urbana
            option(value="Eléctrica") Eléctrica
            option(value="Touring") Touring
            option(value="MBX") MBX
          if errors.modelo
            small#modeloHelp.text-danger
               = errors.modelo.message
        .form-group
          label(for='lat') Latitud
          input#lat.form-control(type='text' name='lat' required='required' value=bicicleta.ubicacion[0])
        .form-group
          label(for='lng') Longitud
          input#lng.form-control(type='text' name='lng' required='required' value=bicicleta.ubicacion[1])
          |
        button.btn.btn-primary.float-right(type="submit") Crear
block footer
  script.
    if('#{bicicleta.color}' != null){
    let optionsColor = document.getElementById('color').options;
    for(i=0; i < optionsColor.length; i++) {
      if(optionsColor[i].value == '#{bicicleta.color}') optionsColor[i].selected = true;
    }
    }
    if('#{bicicleta.modelo}' != null){
    let optionsModelo = document.getElementById('modelo').options;
    for(i=0; i<optionsModelo.length; i++) {
      if(optionsModelo[i].value == '#{bicicleta.modelo}') optionsModelo[i].selected = true;
    }
    }