extends ../layout

block content
  main.col-md-9.ml-sm-auto.col-lg-10.px-md-4(role='main')
      .d-flex.justify-content-between.flex-wrap.flex-md-nowrap.align-items-center.pt-3.pb-2.mb-3.border-bottom
        h1.h2= title
        p Curso NodeJs, Express
      .row
        .col
        a.btn.btn-primary.float-right.my-3(href="/bicicletas/create") Crear
      table.table
        thead
            tr
              th(scope='col') Código
              th(scope='col') Color
              th(scope='col') Modelo
              th(scope='col') Ubicación
              th(scope='col') Opciones
        tbody
          each bici in bicis
            tr
              td(scope='row')= bici.code
              td= bici.color
              td= bici.modelo
              td= bici.ubicacion
              td
                .btn-group(role="group")
                  a.btn.btn-sm.btn-primary.mr-1(href=`bicicletas/${bici._id}/update`, role="button")
                    span(data-feather='edit')
                    |                 Editar
                  form.inline(action=`bicicletas/${bici._id}/delete`, method="post")
                    button.btn.btn-sm.btn-danger(type="submit") 
                      span(data-feather='trash') 
                      |               Eliminar