extends ../layout

block content
  main.col-md-9.ml-sm-auto.col-lg-10.px-md-4(role='main')
      .d-flex.justify-content-between.flex-wrap.flex-md-nowrap.align-items-center.pt-3.pb-2.mb-3.border-bottom
        h1.h2= title
        p Curso NodeJs, Express
      form(action=`/bicicletas/${bici.id}/update`, method="post")
        .form-group
          label(for='id') Código
          input#id.form-control(type='text' name='code' required='required' value=bici.code)
        .form-group
          label(for='color') Color
          select#color.form-control(name="color" value=bici.color required='required')
            option(value="") Seleccione un Color
            option(value="Blanco") Blanco
            option(value="Negro") Negro
            option(value="Azul") Azul
            option(value="Rojo") Rojo
            option(value="Verde") Verde
        .form-group
          label(for='modelo') Modelo
          select#modelo.form-control(name="modelo" value= bici.modelo required='required')
            option(value="") Seleccione un Modelo
            option(value="Montaña") Montaña
            option(value="Ruta") Ruta
            option(value="Urbana") Urbana
            option(value="Eléctrica") Electrica
            option(value="Touring") Touring
            option(value="MBX") MBX
        .form-group
          label(for='lat') Latitud
          input#lat.form-control(type='text' name='lat' required='required' value=bici.ubicacion[0])
        .form-group
          label(for='lng') Longitud
          input#lng.form-control(type='text' name='lng'  required='required' value=bici.ubicacion[1])
          |
        button.btn.btn-primary.float-right(type="submit") Actualizar
block footer
  script.
    let optionsColor = document.getElementById('color').options;
    for(i=0; i < optionsColor.length; i++) {
      if(optionsColor[i].value == '#{bici.color}') optionsColor[i].selected = true;
    }
    let optionsModelo = document.getElementById('modelo').options;
    for(i=0; i<optionsModelo.length; i++) {
      if(optionsModelo[i].value == '#{bici.modelo}') optionsModelo[i].selected = true;
    }